body {
    background-color: rgb(214, 235, 237);
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    font-size: 100%;
}

.fade {
    width:100vw;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
 
}

h1 {
    color: rgb(2, 31, 249);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    padding-top: 1rem;
}