body {
    background-color: rgb(237, 223, 249);
}

.container { 
    background-color: rgb(107, 192, 164);
    color: rgb(8, 8, 8);
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;

}

.p-element {
    color: rgb(34, 34, 224);
}

.new.class {
    color: rgb(221, 21, 21);
}

.link {
    background-color: brown;
    padding: 1.5rem;
    border-radius: 0.4rem;
    color: #fff;
}